## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import the API key.
import sys, os
sys.path.append(os.path.abspath(os.path.join('..')))

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Iracoubo,GF,82.85,scattered clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
1,4,Harper,LR,77.50,broken clouds,4.3750,-7.7169,Screensaver
2,8,Puerto Narino,CO,83.66,light rain,-3.7703,-70.3831,Eware Refugio Amazonico
3,11,Caravelas,BR,77.49,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
4,12,Rikitea,PF,74.55,scattered clouds,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(50.0, -20.0), zoom_level=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Oyama") & (vacation_df["Country"] == "JP") & (vacation_df["Hotel Name"] == "Toyoko Inn Oyama-eki Higashi-guchi No.1")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Oyama") & (vacation_df["Country"] == "JP") & (vacation_df["Hotel Name"] == "Toyoko Inn Oyama-eki Higashi-guchi No.1")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Hasaki") & (vacation_df["Country"] == "JP") & (vacation_df["Hotel Name"] == "Inubosaki Kanko Hotel")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Shimoda") & (vacation_df["Country"] == "JP") & (vacation_df["Hotel Name"] == "Shimoda Tokyu Hotel")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Katsuura") & (vacation_df["Country"] == "JP") & (vacation_df["Hotel Name"] == "Katsuura Hotel Mikazuki")]

In [12]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
215,551,Oyama,JP,83.59,overcast clouds,36.3,139.8,Toyoko Inn Oyama-eki Higashi-guchi No.1

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}', 'Stop 3: {stop3}')

Start: (36.3, 139.8), End: (36.3, 139.8)
Stop 1: (35.7333, 140.8333), Stop 2: (34.6667, 138.95) Stop 3: {stop3}

In [45]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(35.0, 140.0), zoom_level=7)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,199,Hasaki,JP,79.29,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
1,150,Shimoda,JP,75.11,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
2,39,Katsuura,JP,77.90,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
3,551,Oyama,JP,83.59,overcast clouds,36.3000,139.8000,Toyoko Inn Oyama-eki Higashi-guchi No.1

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(35.0, 140.0), zoom_level=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))